.sacola {
    background-image: url(../img/sacola.png);
    background-position: top right;
    background-repeat: no-repeat;
    padding-top: 8px;
    width: 140px;
    font-size: 14px;
    text-align: right; 
    padding: 35px;
    position: absolute;
    top: 0;
    right: 0;
}
.menu-opcoes ul li {
display: inline;
margin-left: 20px;
} 
.container {
    margin: 0 auto;
    width: 940px;
}
.menu-opcoes ul {
    font-size: 15px;
}
.menu-opcoes a {
    color: #003366;
}
ul li {
    display:inline;
}
header {
    position: absolute;
}
.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}
.busca,
.menu-departamentos {
    float: left;
}
.busca
.menu-departamentos {
    float: left;
}
.menu-departamentos {
    clear: left;
}
.menu-departamentos {
    text-transform: uppercase;
}
.item-menu {
    text-decoration: none;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          