h1 {
    font-family: serif;
}

h2 {
    font-family: sans-serif;
}

p {
    font-family: monospace;
}

body {
    font-family: "arial", "helvetica", sans-serif;
}

p {
    text-align: justify;
    line-height: 16px;
    /* tamanho da altura de cada linha */
    letter-spacing: 3px;
    /* tamanho do espaço entre cada letra */
    word-spacing: 5px;
    /* tamanho do espaço entre cada palavra */
    text-indent: 30px;
    /* tamanho da margem da primeira linha do texto */
}

h1 {
    background-image: url(../img/sobre-background.jpg);
}

/* body {
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

body {
    border: 5px solid black;
} */

body {
    color: #333333;
    font-family: "lucida sans unicode", "lucida grande", sans-serif;
}

h2 {
    border-bottom: 2px solid #333333;
}

figure {
    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align: center;
}

figcaption {
    font-style: italic;
}


h2 {
    margin-top: 30px;
}

p {
    padding: 0 45px;
    text-indent: 15px;
}

figure {
    padding: 15px;
    margin: 30px;
}

figcaption {
    margin-top: 10px;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

#cabeçalho {
    color: white;
    text-align: center;
}

#rodape img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}
#centro-distribuiçao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}
#rodape {
    color: #777;
    margin:30px 0;
    padding:30px 0;
}
rodape img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}
#familia-pelho {
    float: right;
    margin: 0 o 10px 10px;
}
p::first-letter {
    font-weight: bold;
}
h1 + p {
    text-indent: 0;
}
p::first-line {
    font-variant: small-caps;
}